body {
    margin: 0;
    padding: 0;
  }
  
.header {
    width: 25vh;
    height: 100vh;
    background: rgb(33, 33, 33)
}
.section{
    padding-top: 10px;
    padding-left: 7vh;
}
.boton{
    background:gray;
    width: 100px;
}
a{
 
   
    color: white;
    text-decoration: none;
}
