body {
    margin: 0;
    padding: 0;
  }
  
.header {
    width: 25vh;
    height: 100vh;
    background: rgb(33, 33, 33)
}
.section{
    padding-top: 10px;
    padding-left: 7vh;
}
.boton{
    background:gray;
    width: 100px;
}
a{
 
   
    color: white;
    text-decoration: none;
}
.bg-blue-my{
    --tw-bg-opacity: 1;
    background-color: #043280;
}
.bg-blue-my2{
    --tw-bg-opacity: 1;
    background-color: #032b6e;
}
.bg-blue-my3{
    --tw-bg-opacity: 1;
    background-color: #041d49;
}
.bg-black-my3{
    --tw-bg-opacity: 1;
    background-color: #191919;
}
